<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="channel_banner" th:fragment="channelBannerFragment">
      <div class="channel_banner_content_wrapper">
        <div class="channel_banner_left">
          <img
            class="channel_img"
            th:src="@{/resources/img/channel_img_example.webp}"
            alt="channel_img"
          />
        </div>
        <div class="channel_banner_right">
          <div class="channel_banner_right1">
            <div class="channel_name">Channel Name</div>
            <div class="buttons">Buttons</div>
          </div>
          <div class="channel_banner_right2">Channel Info</div>
          <div class="channel_banner_right3">Channel Intro</div>
        </div>
      </div>
    </div>
  </body>
  <style>

  </style>
</html>
